/* %centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
} */

footer {
  background-color: #2f303a;
}

.footer-form .knock::after {
  width: 24px;
  height: 24px;
  content: '';
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
  background-size: contain;
}
.wh {
  color: $second-color;
}
.contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-top: 9px;
  padding-bottom: 28px;
  letter-spacing: 0.03em;
  transition: $transition;
}
/* .developed {
  @extend %centerFlex;
  max-width: 1170px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
} */
.btn {
  padding-top: 45px;
  padding-bottom: 8px;
}
.footer-main {
  @media screen and (min-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    .block {
      width: calc((100% - 3 * 15px) / 2);
    }
    .string {
      width: 450px;
    }
  }

  @media screen and (min-width: 1140px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .block {
      width: auto;
    }
  }
}

.footer-form {
  max-width: 570px;
  form {
    padding-bottom: 60px;
  }
}
.string {
  min-width: 300px;
  max-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  color: $second-color;
}
.container {
  &-main {
    display: flex;
    min-height: 197px;
  }
}
.white-style {
  color: $second-color;
}
.round {
  background-color: #515261;
  opacity: 90%;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .footer-main,
  .footer-address .white,
  .footer-social .white,
  .footer-form .white {
    text-align: center;
  }
  .footer-address,
  .footer-social {
    margin-bottom: 60px;
  }
  .string {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 767px) {
  .footer-main,
  .footer-address .white,
  .footer-social .white,
  .footer-form .white {
    text-align: center;
  }
  .footer-address,
  .footer-social {
    margin: 60px 0;
  }
  .string {
    margin-bottom: 20px;
  }
  .btn {
    padding-top: 0;
  }
  .footer-form {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1170px) {
  .footer-main,
  .footer-address .white,
  .footer-social .white,
  .footer-form .white {
    text-align: left;
  }
  .footer-address,
  .footer-social {
    margin: 0px;
  }
  .string {
    margin-bottom: 20px;
  }
  .btn {
    padding-top: 45px;
  }
  .footer-form {
    margin-left: inherit;
    margin-right: inherit;
  }
}
