.logo {
  color: $main-color;
  list-style: none;
  font-family: $font-family1;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
}

.accent {
  color: $accent-color;
}
