%centerFlex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-style: Roboto;
  font-size: 16px;
  line-height: 1.35em;
  color: $main-color;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 2px;
  text-align: center;
}
textarea {
  resize: none;
  height: 120px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 1;
  transition: $transition;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2) translateY(-50%);
}

.modal {
  position: absolute;
  width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) translateY(0);
  background-color: $second-color;
  padding: 40px;
  transition: $transition;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.speaker-form {
  text-align: center;
  position: relative;
}
.form-field {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-field input {
  width: 100%;
  border: none;
  padding-left: 20px;
}

.close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: $second-color;
  @extend %centerFlex;
  cursor: pointer;
}
.close::after {
  content: '';
  width: 18px;
  height: 18px;
  background-image: url(../images/close.svg);
  background-size: contain;
  background-position: center;
  transition: background-image $transition;
}
.close:hover::after {
  content: '';
  width: 18px;
  height: 18px;
  background-image: url(../images/close2.svg);
  background-position: center;
  background-size: contain;
}

.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-color;
}

.modal .knock {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  transition: box-shadow $transition;
}
.modal .knock:hover {
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.agry {
  margin-top: 20px;
  text-decoration: underline;
}

.send-field {
  margin-top: 20px;
}

.form-field {
  margin-top: 28px;
  padding: 11px 16px;
  width: 100%;
  border-radius: 3px;
  height: 40px;
  font-size: 18px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  position: relative;
}
.form-label {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  transition: $transition;
}
.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-45px) translateX(-20px);
  color: $accent-color;
}
.form-field:focus-within > .form-icon {
  fill: $accent-color;
}

.form-field:focus-within > .form-input {
  border: none;
}
.form-input:focus {
  outline: none;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: $transition;
}
.form-field:focus-within {
  border-color: $accent-color;
}
.textarea {
  height: 120px;
}
.textarea-input:focus {
  outline: none;
}
.textarea-input {
  border-width: 0;
}
.textarea > .form-label {
  position: absolute;
  top: 15%;
  left: 2x;
  transform: translateY(-50%);
  transition: $transition;
}
.modal-title {
  margin: 0;
}

.send-label {
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
}

.form-field:focus-within > .form-label,
.textarea-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-45px) translateX(-20px);
  color: $accent-color;
}
.checkbox {
  -webkit-appearance: none;
  appearance: none;
}

.checkbox::after {
  content: '';
  display: flex;
  width: 16px;
  height: 15px;
  background: #ffffff;
  border: 2px solid $main-color;
  border-radius: 4px;
  
}
.checkbox:checked::after {
  border-color: transparent;
  background-color: $accent-color;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  cursor: pointer;
}

input:focus {
  outline: none;
}
