body,
button,
a {
  font-family: $font-family;
  font-style: normal;
  color: $text-color;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
}
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding-left: 0;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
section:not(:nth-child(2)) {
  padding-bottom: 94px;
  padding-top: 94px;
}
address {
  font-style: normal;
}

.link {
  color: $text-color;
  display: inline-flex;
  align-items: center;
}
.info {
  display: flex;
  padding-right: 0;
  margin-bottom: 0;
  text-align: left;
}
.subclass {
  color: $main-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.33em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;
  text-align: left;
  display: grid;
}

.title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  text-transform: none;
  line-height: 1.16em;
}

